*{
    margin:0;
    border:border-box;
    font-family: Arial;
}

.navbar{
    height:60px;
    background-color: black;
    color: white; 
    display:flex;  
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height:50px;
    width:113px;
}
.logo{
    background-image:url(logo.png);
    background-size: cover;
    height:50px;
    width:113px;
}
.border{
    border:2px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}

/* box2 */
.add-first{
    color:#cccccc;
    font-size: 0.85rem;
    margin-left: 12px;;
}
.add-sec{
    color:#ffffff;
    font-size: 1rem;
    margin-left: 4px;;
}
.location{
    display: flex;
    align-items: center;
}

/* box3 */
.nav-search{
    display:flex;
    background-color: rgb(196, 196, 99);
    width:750px;
    height:50px;
    border-radius: 5px;
}
.nav-search:hover{
    border:2px solid orange;
}
.nav-select{
    width: 50px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    background-color: #e6e6e6;
    border:none;
}
.nav-input{
    width:700px;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width:50px;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
}

/* box4 */
.nav-country{
    display:flex;
}
.country{
    background: black;
    color: white;
    border: none;
}

/* box5 */

.sign-in{
    font-size: 0.75rem;
    margin-left: 5px;
}
.list{
    font-size: 1rem;
    background-color: black;
    color:white;
    border:none;
    font-weight: 700;
}

/* box6 */
.one{
    font-size: 0.75rem;
}
.two{
    font-size: 1rem;
    font-weight: 700;
}

/* box7 */
.nav-cart {
    display: flex;
    font-weight: 700;
    font-size: 1rem;
}
.nav-cart i{
    font-size: 30px;
}



/* PANEL */
.panel{
    height: 40px;
    background-color: #222f3d;
    color:white;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}
a{
    text-decoration: none;
    color:white;
}
.miss{
    width:1200px;
    margin-right: 50px;
    font-size: 0.85rem;
}
.miss a{
    margin-left: 12px;
}
.deals{
    font-weight: 700;
    font-size: 0.9rem;
}


/* hero */
.hero{
    background-image: url("image_1.jpg");
    background-size: cover;
    height:350px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.hero-msg{
    height:40px;
    background-color: white;
    color:black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin-bottom:50px ;
}
.hero-msg a{
    color:#007185;
}


/* Shop */
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box{
        height: 420px;
        width: 350px;
        background-color: white;
        padding: 20px 0px 15px;
        margin-top: 15px;
}
.content{
    margin-left: 30px;
    margin-right: 10px;
}
    
.img1{
    background-image: url("image_2.jpg");
    background-size: cover;
    height: 350px;
    width:300px;
}
.img2{
    background-image: url("image_3.jpg");
    background-size: cover;
    height: 350px;
    width:300px;
}
.img3{
    background-image: url("image_4.jpg");
    background-size: cover;
    height: 350px;
    width:300px;
}
.img4{
    background-image: url("image_5.jpg");
    background-size: cover;
    height: 350px;
    width:300px;
}
.img5{
    background-image: url("image_6.jpg");
    background-size: cover;
    height: 350px;
    width:300px;
}
.img6{
    background-image: url("image_7.jpg");
    background-size: cover;
    height: 350px;
    width:300px;
}
.img7{
    background-image: url("image_8.jpg");
    background-size: cover;
    height: 350px;
    width:300px;
}
.img8{
    background-image: url("image_9.jpg");
    background-size: cover;
    height: 350px;
    width:300px;
}


/* footer */
footer{
    margin-top: 15px;
}
.foot-1{
    height: 50px;
    background-color: #007185;
    color:white;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.foot-2{
    display: flex;
    justify-content: space-evenly;
    background-color: #222f3d;
    color: white;
    height: 300px;
    align-items: center;
}
.foot-2 ul {
    margin-top: 15px;
}
.foot-2 li{
    font-size: 0.8 rem;
}
.foot-3{
    height: 80px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 0.3px solid white;
}
.foot-logo{
    background-image:url("amazon logo.webp");
    background-size: cover;
    height:80px;
    width:150px;
}
.foot-4{
    height: 80px;
    background-color: black;
    color: white;
    display: block;
    font-size: 0.8rem;
    padding-top: 20px;
}
.div-1{
     display: flex;
    justify-content: center;
    align-items: center;
}
.div-2{
    display: flex;
    justify-content: center;
    align-items: center;
}